
/****** FOR ALL ELEMENTS *******/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/******* STARTING BODY STYLES *******/

body {
    background: url("../images/whiteFlower.jpg") no-repeat center center fixed;
    background-size: cover;
}

main {
    width: 430px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

/****** OFFCANVAS STYLES ********/

.offCanvas {
    width: 0;
    height: 100%;
    background-color: #f5deb3;
    position: absolute;
    border-radius: 30px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.3);
    opacity: 0;
    z-index: 2;
}

.offCanvas.open {
    animation-name: drawer;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function:  cubic-bezier(0, 1, 0.5, 1.2);

}

@keyframes drawer {
    0% {
        opacity: 0;
        color: transparent;
        
    }
    100% {
        width: 70%;
        opacity: 1;
        color: initial;
    }
}

div.offCanvas .clear {
    position: absolute;
    top: 10px;
    right: 17px;
    padding-top: 4px;
    font-size: 25px;
    width: 32px;
    height: 32px;
    transition-duration: 0.12s;
}

div.offCanvas .clear:hover {
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.8);
    background-color: rgba(0,0,0,0.1);
}

.offCanvas.close {
    animation-name: close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes close {
    0% {
        width: 70%;
        opacity: 1;
    }

    50% { 
        opacity: 0;
        width: 0;
    }
}


.offCanvas > img {
    width: 100%;
    border-radius: 30px 30px 4px 4px;
    filter: blur(1px);
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
}

.offCanvas > p {
    width: 87%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 12px;
    font-style: italic;
    color: #404040;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.3);
    background-color: #ffffe6;
}


.offCanvas p span {
    font-weight: bold;
    display: inline-block;
    margin-right: 4px;
    font-size: 1.19em;
    letter-spacing: 1px;
    color: #000;
}


.offCanvas ul {
    overflow: auto;
    height: 330px;
    padding-bottom: 20px;
}

.offCanvas ul h4 {
    font-style: italic;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 29px;
    border-radius: 30px;
    margin-top: 89px;
}

.offCanvas li {
    list-style: none;
    display: flex;
    width: 95%;
    padding: 4px 5px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    overflow-x: auto;
    background-color: white;
}

.offCanvas li div {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.offCanvas ul img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.offCanvas ul p {
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
}

.offCanvas div span {
    color: #333333;
    font-size: 14px;
}

/****** OVERLAY STYLES ********/
.overlay.open {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(245, 222, 179,0.5);
    border-radius: 30px;
    backdrop-filter: blur(2px);
    z-index: 1;
}

/****** CALENDAR CONTAINER STYLES ********/
.CalenderContainer {
    margin-top: 35px;
    width: 100%;
    height: 545px;
    background-color: #fff;
    border-radius: 30px;
    padding-top: 12px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
}

/******* MAIN PIC STYLES *******/

.seasonPic {
    background: url(../images/autumn.jpg) no-repeat;
    background-size: 100%;
    border-radius: 20px;
    height: 215px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
}

.seasonPic nav {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

span.material-icons {
    color: rgba(0,0,0,0.8);
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    transition-duration: 0.5s;
}


.seasonPic nav > span:first-child {
    font-size: 41px;
    padding-top: 2px;
    width: 42px;
    height: 42px;
}

.seasonPic nav span.notify {
    position: absolute;
    top: 39px;
    left: 57px;
    font-size: 27px;
    color: red;
    cursor: pointer;
}

.seasonPic nav span.notification {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 41px;
    left: 72px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    text-align: center;
    color: red;
    cursor: pointer;
}

nav > div:last-child span {
    margin-top: 3px;
    width: 38px;
    height: 38px;
    font-size: 32px;
    padding-top: 3px;
}

nav > div span:hover {
    
    background-color: #cccccc;
}

nav  > span:first-child:hover {
    background-color: #bfbfbf;
}

nav ul {
    position: absolute;
    right: 16px;
    list-style: none;
    width: 148px;
    height: 133px;
    background-color: wheat;
    border-radius: 15px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
    visibility: hidden;
}

nav ul.open {
    visibility: visible;
    animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

nav ul li {
    width: 93%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
    padding-left: 7px;
    padding-right: 12px;
    padding-top: 4px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #cccccc;
}

nav > div:first-of-type {
    height: 27px;
    margin-top: 9px;
    width: 210px;
    position: absolute;
    right: 74px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
    padding: 0 5px 0 8px;
    transition-duration: 0.5s;
}

nav div:first-of-type:focus,
nav div:first-of-type:hover {
    box-shadow: 0 0 8px 3px #cccccc;
    width: 250px;
    cursor: text;
}

nav input[type="search"] {
    background-color: transparent;
    border: 0;
}

nav input[type="search"]:focus {
    outline: 0;
}

nav input[type="search"] + span {
    padding-top: 2px;
}

nav input[type="search"] + span:hover {
    background-color: unset;
}

/********* STYLES FOR ACTUAL CALENDAR ******/

.calender header {
     display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
}

.calender header p {
    text-align: center;
    align-self: center;
    width: 141px;
    font-size: 20px;
    font-weight: bold;
}

.calender span.material-icons {
    font-size: 32px;
    width: 32px;
    height: 32px;
}

.calender span.material-icons:hover {
    background-color: #cccccc;
}


/*********** TABLE STYLES **********/

table {
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    line-height: 2;
    table-layout: fixed;
    background-color: #f5deb3;
    border-radius: 16px 16px 10px 10px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
    empty-cells: hide;
}

tbody {
    text-align: center;
}

td {
    cursor: pointer;
    background: #fff;
    font-size: 15px;
}

td div {
    background-color: transparent;
    transition-duration: 1s;
}

td.eventDot {
    position: relative;
}

.eventDot::before {
   content: ".";
    bottom: 67px;
    right: 21px;
    font-size: 48px;
    color: red;
    position: absolute;
    animation-name: movingBall;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    height: 0px;
}


@keyframes movingBall {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tableCell {
    background-color: #f5deb3;
    width: 29px;
    height: 29px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.daysHover {
    background-color: unset!important;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);
    }
    100% {
        box-shadow: 0 0 8px 1px rgba(0,0,0,0.7);
    }
}



/************** header COMPONENT STYLES **************/

label {
    display: block;
    margin-top: 15px;
    width: 52%;
    margin-right: auto;
    margin-left: auto;
}

.addDialog {
    position: absolute;
    top: 110px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 30px;
    border-color: transparent;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.6);
    background-color: #f5deb3;
    backdrop-filter: blur(9px);
    z-index: 2;
}

dialog[open] {
  animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

fieldset {
    border:0;
}

legend {
    font-size: 25px;
    padding-top: 7px;
    letter-spacing: 1px;
}

fieldset span {
    display: block;
    margin-bottom: 4px;
    font-size: 17px;
    letter-spacing: 1px;
}

.addDialog select,
.addDialog input {
    padding-left: 3px;
    height: 20px;
    border: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 9px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.6);
    height: 22px;
    width: 100%;
}

.addDialog input:hover,
.addDialog input:focus {
    outline: none;
    box-shadow: unset;
    border: unset;
    border-bottom-right-radius: unset;
    border-bottom-left-radius:  unset;
    border-bottom: 2px solid rgba(0,0,0,0.8);
}

.addDialog form div {
    margin-top: 30px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

form div button:nth-child(1) {
    width: 50px;
}

form div button:nth-child(2) {
    width: 75px;
}

form div button {
    border: 1px solid #a6a6a6;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.4);
    background-color: #fff;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

form div button:focus {
    outline: 0;
}

form div button:hover {
    background-color: #8c8c8c;
    box-shadow: 0 0 8px 3px rgba(153, 153, 153,0.8);
    border: unset;
    color: #fff;
}

.floatAdd {
    background-color: rgba(245, 222, 179,0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 12px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.4);
    transition-duration: 0.5s;
}

.floatAdd:hover {
    background-color: #cccccc;
}

.floatAdd span {
    height: 100%;
    width: 100%;
    padding: 8px;
}

.goToDialog {
    position: absolute;
    top: 185px;
    left: 88px;
    height: 166px;
    width: 255px;
    text-align: center;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.6);
    background-color: #f5deb3;
    backdrop-filter: blur(9px);
    z-index: 2;
}

.goToDialog div {
    margin-top: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: end;
}

.goToDialog label {
    width: 100%;
    margin-top: 15px;
}

.goToDialog input {
    padding-left: 3px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 9px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.6);
    height: 22px;
}

/********************** STYLES FOR MOBILE DEVICES ***********************************/

@media screen and (max-width: 500px) {
     body {
        background: unset;
        background-color: wheat;
     }
}