
/****** FOR ALL ELEMENTS *******/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/******* STARTING BODY STYLES *******/

body {
	background: url("../images/whiteFlower.jpg") no-repeat center center fixed;
	background-size: cover;
}

main {
	width: 430px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

/****** OFFCANVAS STYLES ********/

.offCanvas {
	width: 0;
    height: 100%;
    background-color: #f5deb3;
    position: absolute;
    border-radius: 30px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.3);
    opacity: 0;
    z-index: 2;
}

.offCanvas.open {
	animation-name: drawer;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function:  cubic-bezier(0, 1, 0.5, 1.4);

}

@keyframes drawer {
	0% {
		opacity: 0;
		color: transparent;
		
	}
	100% {
		width: 70%;
		opacity: 1;
		color: initial;
	}
}

div.offCanvas .clear {
	position: absolute;
	top: 10px;
	right: 17px;
	padding-top: 3px;
	font-size: 25px;
    width: 32px;
    height: 32px;
    transition-duration: 0.12s;
}

div.offCanvas .clear:hover {
	box-shadow: 0 0 8px 3px rgba(255,255,255,0.8);
	color: #fff;
}

.offCanvas.close {
	animation-name: close;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes close {
	0% {
		width: 70%;
		opacity: 1;
	}

	50% { opacity: 1;
	}

	100% {
		width: 0;
		opacity: 0;
	}
}


.offCanvas > img {
	width: 100%;
    border-radius: 30px;
    filter: blur(1px);
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
}

.offCanvas h2 {
	width: 100%;
	margin-top: 20px;
    text-align: center;
}


.offCanvas ul {
	overflow: auto;
    height: 330px;
    padding-bottom: 20px;
}

.offCanvas ul h4 {
	font-style: italic;
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 29px;
    border-radius: 30px;
    margin-top: 89px;
}

.offCanvas li {
	list-style: none;
    display: flex;
    width: 87%;
    padding: 12px 5px;
    border-radius: 22px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    overflow-x: auto;
    background-color: white;
}

.offCanvas li div {
	width: 100%;
    text-align: center;
}

.offCanvas ul img {
	width: 45px;
    height: 45px;
    border-radius: 50%;
}

.offCanvas h3 {
	margin-bottom: 5px;
}

.offCanvas div span {
	margin-right: 10px;
}

/****** OVERLAY STYLES ********/
.overlay.open {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(245, 222, 179,0.5);
    border-radius: 30px;
    backdrop-filter: blur(2px);
    z-index: 1;
}

/****** CALENDAR CONTAINER STYLES ********/
.CalenderContainer {
	margin-top: 35px;
	width: 100%;
    height: 545px;
    background-color: #fff;
    border-radius: 30px;
    padding-top: 12px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
}

/******* MAIN PIC STYLES *******/

.seasonPic {
	background: url(../images/autumn.jpg) no-repeat;
	background-size: 100%;
	border-radius: 20px;
	height: 215px;
	width: 92%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
}

.seasonPic header {
	display: flex;
    justify-content: space-between;
    width: 94%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

span.material-icons {
	color: rgba(0,0,0,0.8);
	display: inline-block;
	cursor: pointer;
    text-align: center;
    border-radius: 50%;
    transition-duration: 0.5s;
}


.seasonPic header > span:first-child {
	font-size: 41px;
	padding-top: 2px;
	width: 42px;
    height: 42px;
}

.seasonPic header span.notify {
	position: absolute;
    top: 39px;
    left: 57px;
    font-size: 27px;
    color: red;
    cursor: pointer;
}

.seasonPic header span.notification {
	width: 18px;
    height: 18px;
    position: absolute;
    top: 41px;
    left: 72px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    text-align: center;
    color: red;
    cursor: pointer;
}

header > div:last-child span {
	margin-top: 3px;
	width: 38px;
    height: 38px;
    font-size: 32px;
    padding-top: 3px;
}

header > div span:hover {
	
    background-color: #cccccc;
}

header  > span:first-child:hover {
	background-color: #bfbfbf;
}

header ul {
	position: absolute;
    right: 16px;
    list-style: none;
    width: 148px;
    height: 133px;
    background-color: wheat;
    border-radius: 15px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
    visibility: hidden;
}

header ul.open {
	visibility: visible;
	animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

header ul li {
	width: 93%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
    padding-left: 7px;
    padding-right: 12px;
    padding-top: 4px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
}

header ul li:hover {
	background-color: #cccccc;
}

header > div:first-of-type {
	height: 27px;
    margin-top: 9px;
    width: 210px;
    position: absolute;
    right: 74px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
    padding: 0 5px 0 8px;
    transition-duration: 0.5s;
}

header div:first-of-type:focus,
header div:first-of-type:hover {
	box-shadow: 0 0 8px 3px #cccccc;
	width: 250px;
}

header input[type="search"] {
	background-color: transparent;
    border: 0;
}

header input[type="search"]:focus {
	outline: 0;
}

header input[type="search"] + span {
	padding-top: 2px;
}

/********* STYLES FOR ACTUAL CALENDAR ******/

.calender header {
	 display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
}

.calender header h3 {
	text-align: center;
	align-self: center;
	width: 130px;
	font-size: 19px;
}

.calender span.material-icons {
	font-size: 32px;
    width: 32px;
    height: 32px;
}

.calender span.material-icons:hover {
	background-color: #cccccc;
}


/*********** TABLE STYLES **********/

table {
	width: 92%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    line-height: 2;
    table-layout: fixed;
    background-color: #f5deb3;
    border-radius: 16px 16px 10px 10px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
    empty-cells: hide;
}

tbody {
	text-align: center;
}

td {
	cursor: pointer;
	background: #fff;
}

td div {
	background-color: transparent;
	transition-duration: 1s;
}

.eventBackground {
	background-color: #f9ebd2!important;
}

td.eventDot {
	position: relative;
}

.eventDot::before {
    content: ".";
    bottom: 0px;
    right: -5px;
    font-size: 44px;
    color: red;
    position: absolute;
    animation-name: movingBall;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}


@keyframes movingBall {
	0% {
		bottom: 0px;
        right: -5px;
	}

	25% {
		bottom: -29px;
        right: 0px;
	}

	50% {
		bottom: -2px;
        right: 0px;
	}
	75% {
		bottom: -29px;
        right: 2px;
	}

	83% {
		bottom: -17px;
        right: 2px;
	}
	100%{
		bottom: -5px;
    	right: 6px;
	}
}

.tableCell {
	background-color: #f5deb3;
	width: 32px;
	height: 32px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
}

.otherDays {
	animation-name: fade;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes fade {
	0% {
		background-color: transparent;
	}
	10% {
		background-color: rgba(204, 204, 204, 0.2);
	}
	100% {
		background-color: rgba(204, 204, 204, 1);
	}
}



/************** header COMPONENT STYLES **************/

label {
	display: block;
	margin-top: 15px;
	width: 52%;
    margin-right: auto;
    margin-left: auto;
}

.addDialog {
	position: absolute;
    top: 110px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 30px;
    border-color: transparent;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.6);
    background-color: #f5deb3;
    backdrop-filter: blur(9px);
    z-index: 2;
}

dialog[open] {
  animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.addDialog form h3 {
	margin-top: 10px;
	letter-spacing: 2px;
    word-spacing: 2px;
}

.addDialog select,
.addDialog input {
	padding-left: 3px;
    height: 20px;
    border: none;
    margin-top: 5px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.6);
    height: 22px;
    width: 100%;
}

.addDialog input:hover,
.addDialog input:focus {
	outline: none;
	box-shadow: unset;
	border: unset;
	border-bottom-right-radius: unset;
	border-bottom-left-radius:  unset;
	border-bottom: 2px solid rgba(0,0,0,0.8);
}

.addDialog form section {
	margin-top: 30px;
	width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

form section button:nth-child(1) {
	width: 50px;
}

form section button:nth-child(2) {
	width: 75px;
}

form section button {
	border: 1px solid #a6a6a6;
	box-shadow: 0 0 8px 3px rgba(0,0,0,0.4);
	background-color: #fff;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

form section button:focus {
	outline: 0;
}

form section button:hover {
	background-color: #8c8c8c;
	box-shadow: 0 0 8px 3px rgba(153, 153, 153,0.8);
	border: unset;
	color: #fff;
}

.floatAdd {
	background-color: rgba(245, 222, 179,0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 12px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.4);
    transition-duration: 0.5s;
}

.floatAdd:hover {
	background-color: #cccccc;
}

.floatAdd span {
	height: 100%;
    width: 100%;
    padding: 8px;
}

.goToDialog {
	position: absolute;
    top: 185px;
    left: 118px;
    height: 166px;
    width: 215px;
    text-align: center;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.6);
    background-color: #f5deb3;
    backdrop-filter: blur(9px);
    z-index: 2;
}

.goToDialog h3 {
	margin-top: 15px;
}

.goToDialog section {
	margin-top: 20px;
    width: 92%;
    margin-bottom: 10px;
    text-align: end;
}

.goToDialog label {
	width: 100%;
    margin-top: 20px;
}

.goToDialog input {
	margin-top: 11px;
	padding-left: 3px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 9px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.6);
    height: 22px;
}

/********************** STYLES FOR MOBILE DEVICES ***********************************/

@media screen and (max-width: 500px) {
	 body {
	 	background: unset;
	 	background-color: wheat;
	 }
}






























